body {	
		background-color: lightblue;
		background-image: url('gambar/p1.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		
	}
		/* gambar pola www.subtlepatterns.com */