.satu {
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	margin-left: 100px;
	margin-right: 1px;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

.dua {
	width: 100px;
	height: 100px;
	background-color: lightblue;
	margin-left: 5rem;
	margin-top: -7rem;
}

.tiga {
	width: 50px;
	height: 50px;
	background-color: violet;
}