<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Coba Padding dan Border</title>
	<link rel="stylesheet" href="s.css">
</head>
<body>
	
	<div class="satu">Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Est odit voluptatibus error rerum culpa animi cupiditate, aut eaque nostrum sequi voluptates facere ratione molestiae non aliquid nemo aspernatur, inventore mollitia!</div>

	<div class="dua">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error fuga dolores sit at distinctio dicta nesciunt minus quia, deserunt consectetur pariatur expedita sequi maxime delectus ad culpa ipsum dolorum numquam.</div>

</body>
</html>